body {

}

.background_image {
	position: fixed; 
	top: 0; 
	left: 0; 
	width: 100%;
	height: 100%;
}

.climber * {
	background-color: #ffd9b3;
	background: linear-gradient(to left, brown, white);
	border: 0 solid #4d2600;
	position: absolute;
}

.climber {
	position: absolute;
	left: 50%;
	bottom: 0;
}

.bodyPart {
	height: 100px;
	width: 60px;
	border-radius: 20px;
	
	bottom: 120px;
	left: 100px;
}


.armPart {
	height: 66px;
	width: 16px;
	border-radius: 20px;
}

.legPart {
	height: 125px;
	width: 18px;
	border-radius: 20px;
}

.headPart {
	height: 40px;
	width:	40px;
	bottom: 100px;
	left: 10px;
	border-radius: 50%;
}



/*arms*/
.upperLeft {
	top: 8px;
	left: 0px;
	transform: rotate(145deg);
	transform-origin: 50% 12%;
}

.upperRight {
	top: 8px;
	left: 44px;
	transform: rotate(330deg);
	transform-origin: 50% 12%;
}

.upperLeft .lowerLeft {
	bottom: -50px;
	left: 0px;
	transform: rotate(30deg);
	transform-origin:  50% 12%;
}

.upperRight .lowerRight {
	bottom: -50px;
	left: 0px;
	transform: rotate(-145deg);
	transform-origin: 50% 12%;
}


/*legs*/
.rightLeg {
	left: 42px;
	top: 82px;
	transform: rotate(0deg);
	transform-origin: 50% 15%;
}

.leftLeg {
	left: 0px;
	top: 82px;
	transform: rotate(10deg);
	transform-origin: 50% 15%;
}


.climber:hover	.bodyPart {
		animation: climb 10s linear;
}
@keyframes climb {
	0% { bottom: 120px; 
		
	}
	50% { bottom: 75vh; 
		
	}
	100% { bottom: 120px; 
		
	}
}




.climber:hover .upperRight {
	animation: URRotate 1s linear infinite;
}
@keyframes URRotate {
	0% { transform: rotate(initial); }
	50% { transform: rotate(200deg); }
	100% { transform: rotate(initial); }
}

.climber:hover .lowerRight {
	animation: LRRotate 1s linear infinite;
}
@keyframes LRRotate {
	0% { transform: rotate(initial); }
	50% { transform: rotate(0deg); } /*this goes to 0 degrees relative to parent element*/
	100% { transform: rotate(initial); }
}

.climber:hover	.upperLeft {
	animation: ULRotate 1s linear infinite;
}
@keyframes ULRotate {
	0% { transform: rotate(initial); }
	50% { transform: rotate(30deg); }
	100% { transform: rotate(initial); }
}

.climber:hover	.lowerLeft {
	animation: LLRotate 1s linear infinite;
}
@keyframes LLRotate {
	0% { transform: rotate(initial); }
	50% { transform: rotate(130deg); }
	100% { transform: rotate(initial); }
}




.climber:hover	.leftLeg {
	animation: LLegRotate 1s linear infinite;
}
@keyframes LLegRotate {
	0% { transform: rotate(initial); }
	50% { transform: rotate(15deg); }
	100% { transform: rotate(initial); }
}

.climber:hover	.rightLeg {
	animation: RLegRotate 1s linear infinite;
}
@keyframes RLegRotate {
	0% { transform: rotate(initial); }
	50% { transform: rotate(-20deg); }
	100% { transform: rotate(initial); }
}




